body {
    margin: 0;
    text-align: center;
}

form {
    margin-top: 20px;
    width: 500px;
    position: fixed;
    left: calc(50% - 247px);
    animation: formAppearance 3s ease-in-out;
    padding: 25px;
}

@keyframes formAppearance {
    from {
        opacity: 0;
        transform: scale(2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }

}

/* Customized styles */

input:not(:focus):not(:invalid):not(:placeholder-shown):required:valid {
    border: 1px solid #0E6245;
}

input:not(:focus):not(:valid):not(:placeholder-shown):required:invalid {
    border: 1px solid #ED0131;
}

.invalid-feedback,
.valid-feedback {
    display: none;
    text-align: left;
}
    
.invalid-feedback {
    color: #ED0131;
}  
    
.valid-feedback {
    color: #0E6245;
} 
    
input:not(:focus):not(:placeholder-shown):invalid + .invalid-feedback,
input:not(:focus):not(:placeholder-shown):valid + .invalid-feedback + .valid-feedback {
    display: block;
}

.description {
    font-size: 1.15rem;
}

.h1.text-primary {
    text-align: center;
}