body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.grid-container {
    width: 1200px;
    height: 1667px;
    display: grid;
    grid-template-columns: 385px auto;
    grid-template-areas: 
        "sidebar content"
    ;
}

.container-left {
    background-color: #728ca9;
    border: 1px #333;
    border-style: hidden solid hidden hidden;
    display: block;
    grid-area: sidebar;
    margin: 0;
    width: 385px;
}

.container-right {
    display: block;
    grid-area: content;
    margin: 0;
    width: 815px;
}

h1 {
    color: aliceblue;
}

h1, h2, h4, h5, p {
    margin: 0;

}

hr {
    border-top: 5px #333;
    border-style: solid hidden hidden;
} 

a {
    color: rgb(8, 8, 181);
    text-decoration: none;
}

a:visited {
    color: rgb(4, 4, 76);
    text-decoration: none;
}

/* LEFT PART OF WEB-PAGE */

/* Name block */
.name {
    height: 96px;
    width: 260px;
    padding: 58px 85px 0 40px;
}

.surname {
    color: rgb(34, 6, 136);
}

/* Photo */
.photo {
    margin: 0;
    padding-top: 36px;
    width: 385px;
    height: 292px;
}

/* Contact block */
.contact {
    width: 334px;
    padding: 50px 11px 0 40px;
}

h2 {
    padding: 0 209px 0 1px;
}

.contact hr {
    margin: 10px 43px 0 2px;
}

.contact-item {
    padding: 25px 236px 0 1px;
}

.contact-item p {
    font-size: 12px;
    padding: 5px 0 13px;
}

.email p {
    color: rgb(8, 8, 181);
}

/* Language block */
.languages {
    height: 140px;
    width: 291px;
    padding: 36px 52px 0 42px;
}

.languages h5 {
    padding-top: 15px;
}


/* RIGHT PART OF WEB-PAGE */

.content-right {
    padding-left: 55px;
}

.content-right hr {
    margin: 28px 0 28px;
    width: 659px;
}

.skills, .education {
    width: 659px;
}

.summary, .workExperience {
    width: 706px;
}

.boldText {
    font-weight: bolder;
}

/* Summary */
.summary {
    padding-top: 58px;
    height: 176px;
}

/* Skills */
.skills {
    margin: 0;
    height: 184px;
    padding-top: 49px;
}

.skills-left {
    float: left;
    padding-top: 0;
}

.skills-right {
    padding-left: 324px;
    padding-top: 12px;
}

/* Work Experience */
.workExperience {
    padding-top: 49px;
}

.previous {
    padding-top: 15px;
}

/* Education */
.education {
    height: 157px;
    padding-top: 53px;
}

.education-info {
    padding-right: 100px;
}
