:root {
    /* sizes */
    --margin-main: 0px;
    --margin-secondary: 28px 0 28px;
    --padding-main-contact: 58px 85px 0 40px;
    --padding-main-items: 25px 236px 0 1px;
    --padding-top-small: 15px;
    --padding-top-medium: 36px;
    --padding-top-big: 53px; 
    --padding-left-main: 55px;
    --padding-left-big: 236px;
    --padding-right-main: 100px;
    --padding-left-contactItem: 5px 0 13px;
    --padding-left-languages: 36px 52px 0 42px;
}

.main-theme {
    /* colors */
    --color-background-left: #728ca9;
    --color-background-right: none;
    --color-text-primary: #333;
    --color-header-name: aliceblue;
    --color-header-surname: rgb(34, 6, 136);

    /* links */
    --color-link-primary: rgb(8, 8, 181);
    --color-link-visited: rgb(4, 4, 76);
}

body {
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    width: 1200px;
    height: 1667px;
    display: grid;
    grid-template-columns: 385px auto;
    grid-template-areas: 
        "sidebar content"
    ;
    position: relative;
}

.grid-item.container-left {
    background-color: var(--color-background-left);
    border: 1px;
    border-style: hidden solid hidden hidden;
    display: block;
    grid-area: sidebar;
    width: 385px;
    height: 100%;
    box-shadow: 5px 0 10px 0 rgb(180, 179, 179);
    position: absolute;
    animation: leftUP 2s ease-in-out;
}

.container-right {
    display: block;
    grid-area: content;
    width: 815px;
}

h1 {
    color: var(--color-header-name);
}

hr {
    border-top: 5px;
    border-color: var(--color-text-primary);
    border-style: solid hidden hidden;
} 

a {
    color: var(--color-link-primary);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
    text-decoration: none;
}

/* LEFT PART OF WEB-PAGE */

/* Name block */
.name {
    height: 96px;
    width: 260px;
}

.surname {
    color: var(--color-header-surname);
}

/* Photo */
.photo {
    padding-top: var(--padding-top-medium);
    width: 385px;
    height: 385px;
}

.photo:hover {
    border-radius: 100%;
    filter: drop-shadow(15px 15px 20px #2b2121);
    cursor: pointer;
    transform: scale(1.5) translateX(17%);
    
}

/* Contact block */
.contact {
    width: 334px;
}

.contact-item p {
    font-size: 12px;
    padding: var(--padding-left-contactItem);
}

.email p {
    color: var(--color-link-primary);
}

/* Language block */
.languages {
    height: 140px;
    width: 291px;
    padding: var(--padding-left-languages); 
}


/* RIGHT PART OF WEB-PAGE */

.content-right {
    padding-left: var(--padding-left-main);
}

.content-right hr {
    margin: var(--margin-secondary);
    width: 659px;
}

.skills, .education {
    width: 659px;
}

.summary, .workExperience {
    width: 706px;
}

.boldText {
    font-weight: bolder;
}

/* Summary */
.summary {
    height: 176px;
}

/* Skills */
.skills {
    height: 184px;
}

.skills-left {
    float: left;
}

.skills-right {
    padding-left: var(--padding-left-big); 
}

/* Education */
.education {
    height: 157px;
}

.education-info {
    padding-right: var(--padding-right-main);
}

/* Work */

.work.previous {
    opacity: .7;
}

.work.previous:hover {
    opacity: 1;
}

 /* SIZES */
.workExperience,
.education,
.skills,
.summary {
    padding-top: var(--padding-top-big);
}

.previous,
.skills-right,
.languages h5 {
    padding-top: var(--padding-top-small);
}

h2,
.contact-item {
    padding: var(--padding-main-items);
}

.name,
.contact {
    padding: var(--padding-main-contact);
}

body,
h1, h2, h4, h5, p,
.container-left,
.container-right,
.photo,
.skills {
    margin: var(--margin-main);

}


/* Adaptive design for phone screens */
 
@media screen and (max-width: 414px) {

    .grid-container {
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sidebar"
            "content"
        ;
    }

    .grid-item.container-left {
        width: 100%;
    }

    .grid-item.container-left .photo {
        height: auto;
        width: 100vw;
        padding: 0;
    
    }

    .content-left.name,
    .content-left.contact,
    .content-left.languages {
        padding-right: 0;
    }

    .content-left.contact {
        padding-top: 50px;
    }

    .content-left.contact h2,
    .content-left.languages h2 {
        padding-top: 0;
    }

    .content-left hr{
        width: 289px;
        margin-top: 15px;
        margin-left: 0;
    }

    .grid-item.container-right {
        width: 100%;
    }

    .container-right .content-right hr {
        margin-top: 15px;
        width: 327px;
    }

    .container-right .content-right {
        width: 328px;
        height: auto;
        padding-top: 32px;
    }

    .container-right .content-right h2 {
        padding: 0;
    }

    .content-right.skills .skills-right {
        padding-left: 125px;
    }

    .skills-right .skills-item {
        margin: 0;
    }

    .content-right.education {
        padding-bottom: 43px;
    }

  }
