.my-theme {
    /* colors */
    --color-background-left: #D6E4E5;
    --color-background-right: none;
    --color-text-primary: #497174;
    --color-header-name: #283f41;
    --color-header-surname: #b33917;

    /* links */
    --color-link-primary: #f6a792;
    --color-link-visited: #EB6440;
}
